.like{
background-color:white;
border: 1px solid black;
color: black;
text-align: center;
text-decoration: none;
font-family:roboto;
display: inline-block;
font-size: 13px;
margin: 6px 5px;
padding-left: 5px;
padding-right: 5px;
cursor: pointer;
border-radius:0px;
}
.orange_dot{
  background:orange;
  border-radius:50%;
}
.love{
background-color:white;
border: 1px solid black;
color: black;
padding-left: 5px;
padding-right: 5px;
text-align: center;
text-decoration: none;
font-family:roboto;
display: inline-block;
font-size: 13px;
margin: 6px 5px;
cursor: pointer;
border-radius:0px;
}
