
.status{
  margin-left: 8%;
  position: absolute;
}
.tabsdemoDynamicHeight md-content {
background-color: transparent !important; }
.tabsdemoDynamicHeight md-content md-tabs {
  background: #f6f6f6;
  border: 1px solid #e1e1e1; }
  .tabsdemoDynamicHeight md-content md-tabs md-tabs-wrapper {
    background: white; }
.tabsdemoDynamicHeight md-content h1:first-child {
  margin-top: 0; }
  p,div{
    font-family: 'Roboto', sans-serif;
  }

  .tag_btn{
    background-color: white;
    border-color: black;
    padding-right: 0;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
  a:link,a:visited,a:active{
    color:#23ab8a;
  }
body{
  background-color: #eee";
}
