.container{
  width:100%;
  padding:2%;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative;
  min-height: 100%;
}

.div1{
  position: relative;
  max-width: 96%;

  max-height: 100%;
  display: block;
}
