.myButton {
    background-color: rgb(63,81,181);
    border: none;
    color: white;
    padding: 9px 22px;
    text-align: center;
    text-decoration: none;
    font-family:roboto;
    display: inline-block;
    font-size: 13px;
    margin: 6px 5px;
    cursor: pointer;
    margin-bottom: 19px;
    }
    .myveButton {
    background-color:white ;
    border: none;
    color: #1ab394 ;
    padding: 9px 22px;
    text-align: center;
    text-decoration: none;
    font-family:roboto;
    display: inline-block;
    font-size: 13px;
    margin: 6px;
    cursor: pointer;
    }
    .myButton:hover{
      background-color:#1ab394;
      opacity: 0.8;
    }
    .myButton:active{
    background-color: rgb(63,81,181);
    }
    .myButton:visited{
      background-color:#1ab394;
    }
    .grey-color{
      color:#1ab394;
      font-weight:bold;
    }
    .excess-width{
      width: 150%;
    }
    .indent{
      margin-left:20px;
    }
    .full-width{
      width: 100%;
    }
    .nopadding{
      padding:0px;
    }
    .nomargin{
      margin:0px;
    }
    md-list-item.md-no-proxy, md-list-item .md-no-style {
    position: relative;
    /* padding: 0 16px; */
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
}
    .refresh-button{
      padding:5px 15px;
      line-height:1.3;
      margin-top:13px;
    }
    .go-button{
      padding:0px;
      line-height:1.3;
      margin-top:13px;
    }
    .refresh-icon{
      font-size:17px;
      padding-top:0px;
      margin-top:6px;
    }
    .box {
    background-color:#1ab394
    padding-right: 70%;
    border: 5px black;
    padding: 25px;
    margin: 2px;
    }
    .flex-container {
    display: -webkit-flex;
    display: flex;

    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
}
    .flex-container > * {
    padding: 10px;
    flex: 1 100%;
    }
    .md-button{
      border-radius: 0px;
    }
    md-content{
      background-color: white;
    }
    md-list-item:hover{
      background-color: rgb(250,250,250);
      cursor: hand;
    }
    md-list-item.md-no-proxy, md-list-item .md-no-style {
    position: relative;
    /* padding: 0 16px; */
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
}
